<br> 
<br> 
<br> 

<h3 class="booking_details">Booking Details</h3>

  <div class="container">

    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="panel-title">Customer Details</div>
      </div>

      <div class="panel-body">
        <address >
          <strong>{{Cname}}</strong><br>
          <a href="mailto:#">{{Cemail}}</a>
        </address>

        <address>
          <strong>{{Ccity}}</strong><br>
          {{Caddr}}, {{Cpincode}}<br>
          <abbr title="Phone">Phone:</abbr> {{Cmobno}}
        </address>    
      </div>
      
    </div>

    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="panel-title">Order Details</div>
      </div>

      <div class="panel-body">
        <address >
          <strong>Service Center Details :</strong><br>
          <strong>{{SCname}}</strong><br>
          <a href="mailto:#">{{SCemail}}</a>
        </address>

        <address>
          <strong>{{SCcity}}</strong><br>
          {{SCaddr}}, {{SCpincode}}<br>
          <abbr title="Phone">Phone:</abbr> {{SCmobno}}
        </address>

        <address >
          <strong>Services Booked</strong><br>
          {{names}}<br>
        </address>
        <strong>Total :{{total}}</strong><br>
    
      </div>
      
    </div>

    
  </div>     


  




