<header class="header">
    <div class="header_overlay">
        <br> 
        <br> 
        <br>
        <br>

    <div class="col-md-6 col-md-offset-3">
       
        <form #myForm="ngForm" (submit)="register(myForm)">
            
            <div class="form-group">
                <label for="">Name</label>
                <input 
                required 
                ngModel 
                pattern="[a-zA-Z ]+"
                #name="ngModel" 
                minlength="6"
                name="name" 
                type="text" 
                class="form-control">

                <div class="error" *ngIf="name.touched && name.invalid && name.errors.required">Name is mandatory</div>
                <div class="error" *ngIf="name.touched && name.invalid && name.errors.minlength">Minimum characters must be 6</div>
            </div>

            <div class="form-group">
                <label for="">Address</label>
                <input 
                required
                ngModel
                name="address"
                #address="ngModel"
                type="text"
                class="form-control">

                <div class="error" *ngIf="address.touched && address.invalid">
                    <div *ngIf="address.errors.required">Address is mandatory</div>
                </div>
            </div>

            <div class="form-group">
                <label for="">City</label>
                <input 
                required
                ngModel
                name="city"
                #city="ngModel"
                type="text"
                class="form-control">

                <div class="error" *ngIf="city.touched && city.invalid">
                    <div *ngIf="city.errors.required">City is mandatory</div>
                </div>
            </div>

            <div class="form-group">
                <label for="">Pincode</label>
                <input 
                required
                ngModel
                name="pincode"
                #pincode="ngModel"
                pattern="([0-9]{6}|[0-9]{3}\s[0-9]{3})"
                type="number"
                class="form-control">

                <div class="error" *ngIf="pincode.touched && pincode.invalid">
                    <div *ngIf="pincode.errors.required">Pincode is mandatory</div>
                </div>
                <div class="error" *ngIf="pincode.touched && pincode.invalid && pincode.errors.pattern">Length must be 6</div>
            </div>

            <div class="form-group">
                <label for="">Mobile</label>
                <input 
                required
                ngModel
                name="mobile"
                #mobile="ngModel"
                type="number"
                pattern="([0-9]{10})"
                class="form-control">

                <div class="error" *ngIf="mobile.touched && mobile.invalid">
                    <div *ngIf="mobile.errors.required">Mobile is mandatory</div>
                </div>
                <div class="error" *ngIf="mobile.touched && mobile.invalid && mobile.errors.pattern">Length must be 10</div>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input 
                required
                pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                ngModel
                name="email"
                #email="ngModel"
                type="email"
                class="form-control">

                <div class="error" *ngIf="email.touched && email.invalid && email.errors.required">Email is mandatory</div>
                <div class="error" *ngIf="email.touched && email.invalid && email.errors.pattern">Email must be valid</div>
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input 
                required
                ngModel
                name="password"
                #password="ngModel"
                minlength="8"
                type="password"
                class="form-control">

                <div class="error" *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors.required">Password is mandatory</div>
                    <div *ngIf="password.errors.minlength">Minlegnth is 8</div>
                </div>
            </div>
            
            <div class="form-group">
                <button [disabled]="myForm.invalid" class="btn btn-success text-center mybutton">Register</button>
            </div>
        
        </form>

    </div>

    </div>
</header>
